.wrapper {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px; }

h1 {
  font-size: 40px;
  text-align: left;
  border-bottom: 2px solid black; }

img {
  width: 200px;
  height: 300px; }

article {
  text-align: center;
  width: 300px;
  padding-left: 25%;
  line-height: 20px; }
